<div class="container-fluid">
  <div class="row" style="margin-top: 0px;">
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="showTitle1">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/lovemelon.gif" style="width: 100%;"  class="gif" *ngIf="showTitle2">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="showTitle3">
    </div>

    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="showTitle4">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="showTitle5">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="showTitle6">
    </div>


  </div>
  <div class="row" style="margin-top: 0px;">
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="showTitle12">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="showTitle11">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="showTitle10">
    </div>

    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="showTitle9">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="showTitle8">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="showTitle7">
    </div>


  </div>

    <div class="row" style="margin-top: 0px;">

      <div class="col-md-1" style="padding: 0; margin:0;" >
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow6">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);"  class="gif" *ngIf="spinnerRow5">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;"  class="gif" *ngIf="spinnerRow4">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);"  class="gif" *ngIf="spinnerRow3">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;"  class="gif" *ngIf="spinnerRow2">

      </div>

      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow1">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow1">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow2">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow3">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow4">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow5">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow6">

      </div>

  
    
  </div>


  <div class="row" style="margin-top: 0px;">
    <div class="col-md-2" style="padding: 0; margin:0;">
      <img src="../assets/spinningMelon.gif" style="width: 100%;"class="gif" *ngIf="spinnerRow6">
      <img src="../assets/spinningMelon.gif" style="width: 100%; transform: scaleX(-1);" class="gif" *ngIf="spinnerRow7">
    </div>
    <div class="col-md-1" style="padding: 0; margin:0;">
    </div>
    <div class="col-md-6" style="padding: 0; margin-top:50;">
      <img src="../assets/watermelon  23.gif" style="width: 100%;" class="gif" *ngIf="WatermelonCenter">
    </div>
    <div class="col-md-1" style="padding: 0; margin:0;">
    </div>
    <div class="col-md-2" style="padding: 0; margin:0;">

      <img src="../assets/spinningMelon.gif" style="width: 100%; transform: scaleX(-1); " class="gif" *ngIf="spinnerRow6">
      <img src="../assets/spinningMelon.gif" style="width: 100%; " class="gif" *ngIf="spinnerRow7">

    </div>
  </div>

  

    <div class="row" style="margin-top: 40px;">

      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow8">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow9">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow10">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow11">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow12">

      </div>

      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow13">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow13">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow12">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow11">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow10">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;" class="gif" *ngIf="spinnerRow9">

      </div>
      <div class="col-md-1" style="padding: 0; margin:0;">
        <img src="../assets/melonasd.gif" style="width: 100%;transform: scaleX(-1);" class="gif" *ngIf="spinnerRow8">

      </div>
    </div>
    
    <div class="row" style="margin-top: 0px;">
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="border4">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="border4">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="border4">
      </div>
  
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="border4">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="border4">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="border4">
      </div>
  
  
    </div>

    <div class="row" style="margin-top: 0px;">
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="border3">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/lovemelon.gif" style="width: 100%;"  class="gif" *ngIf="border3">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="border3">
      </div>
  
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="border3">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/thirsty.gif" style="width: 100%;" class="gif" *ngIf="border3">
      </div>
      <div class="col-md-2" style="padding: 0; margin:0;">
        <img src="../assets/lovemelon.gif" style="width: 100%;" class="gif" *ngIf="border3">
      </div>
  
  
    </div>
  

    
  
  <div class="row" style="margin-top: 60px;">
    <div class="col-md-2">
      <img class="float-start" src="../assets/kirbyMelon.gif" style="max-height:300px; transform: scaleX(-1); max-width: 100%;"class="gif" *ngIf="finalPage">
      <img class="float-start" src="../assets/kirbyMelon.gif" style="max-height:300px; transform: scaleX(-1); max-width: 100%;"class="gif" *ngIf="finalPage">
      <img class="float-start" src="../assets/kirbyMelon.gif" style="max-height:300px; transform: scaleX(-1); max-width: 100%;"class="gif" *ngIf="finalPage">

    </div>
    <div class="col-md-8 text-center">
      <img src="../assets/juicy.png" style="max-width: 100%;"class="gif" *ngIf="finalPage">
      
    </div>
    <div class="col-md-2">
      <img class="float-end" src="../assets/kirbyMelon.gif" style="max-height:300px; max-width: 100%;"class="gif" *ngIf="finalPage">
      <img class="float-end" src="../assets/kirbyMelon.gif" style="max-height:300px; max-width: 100%;"class="gif" *ngIf="finalPage">
      <img class="float-end" src="../assets/kirbyMelon.gif" style="max-height:300px; max-width: 100%;"class="gif" *ngIf="finalPage">

    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; transform: scaleX(-1); width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; transform: scaleX(-1); width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px;  width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; transform: scaleX(-1); width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px;  width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; transform: scaleX(-1); width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px;  width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; transform: scaleX(-1); width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; transform: scaleX(-1); width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-1 text-center">
      <img src="../assets/eat.gif" style="max-height:500px; width: 100%;"class="gif" *ngIf="finalPage">
    </div>
  </div>

  <div class="row" style="margin-top: 60px;">
    <div class="col-md-2">
      <img class="float-end" src="../assets/rotatemelon.gif" style="max-height:300px; width: 100%;"class="gif" *ngIf="finalPage">

    </div>
    <div class="col-md-8 text-center">
      <img src="../assets/joinus.gif" style="max-width:100%"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-2 ">
      <img class="float-end" src="../assets/rotatemelon.gif" style="max-height:300px; width: 100%; transform: scaleX(-1);"class="gif" *ngIf="finalPage">

    </div>
    
    
  </div>


  
  <!-- <div class="card" style="margin-top: 100px;">
    <div class="card-body">
      <h5>Supply: 1'000'000'000'000</h5>
      <h5>100% in LP & Burned</h5>
    </div>
  </div> -->
  
  
  <div class="row" style="margin-top: 69px;">
    <div class="col-md-3">
      <img class="float-start" src="../assets/kirbyMelon.gif" style="max-height:300px; transform: scaleX(-1); width: 100%;"class="gif" *ngIf="finalPage">
    </div>
    <div class="col-md-6">
      <div class="row">

      </div>
      <div class="row" style="margin-top: 80px;">
        <div class="col-md-2 text-center">

        </div>
        <div class="col-md-2 text-center">
          <a href="https://twitter.com/uni_watermelon" target="_blank" rel="nooperener noreferrer"><img src="../assets/xlogo.png" style="max-height: 100px;"class="gif" *ngIf="finalPage">  </a>
        </div>
        <div class="col-md-2 text-center">
        </div>
        <div class="col-md-2 text-center">
          
        </div>
        <div class="col-md-2 text-center">
          <a href="https://t.me/+mnrIV97gH0FhNjFh" target="_blank" rel="nooperener noreferrer"><img src="../assets/Telegram.webp" style="max-height: 100px;"class="gif" *ngIf="finalPage">  </a>
        </div>
        <div class="col-md-2 text-center">
          
        </div>
      </div>
      
    
    </div>
    
    <div class="col-md-3">
      <img class="float-end" src="../assets/kirbyMelon.gif" style="max-height:300px; width: 100%;"class="gif" *ngIf="finalPage">
    </div>
  </div>
  

</div>

